{% extends "base.html" %}
{% block content %}

<form method="POST" id="" action="">
{{ form.hidden_tag() }}
<fieldset class="form-group">
  <legend class="border-bottom mb-4">Add user to database</legend>
    <div class="form-group">
      {{ form.full_name.label(class="form-control-label") }}
      {% if form.full_name.errors %}
      {{ form.full_name(class="form-control is-invalid", placeholder="Enter user full name") }}
      <div class="invalid-feedback">
        {% for error in form.full_name.errors %}
            <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.full_name(class="form-control", placeholder="Enter user full name") }}
      {% endif %}
    </div>
</fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
</br>
</br>

{% if data %}
    <h2> Response from API</h2>
    <pre class="border border-secondary rounded">{{ data }}</pre>
{% endif %}

{% endblock %}
